@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/fantasque-sans-mono/FantasqueSansMNerdFontMono-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/fantasque-sans-mono/FantasqueSansMNerdFontMono-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/fantasque-sans-mono/FantasqueSansMNerdFontMono-Italic.ttf')
    format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/fantasque-sans-mono/FantasqueSansMNerdFontMono-BoldItalic.ttf')
    format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --ifm-font-family-base: 'EB Garamond', sans-serif;
  --ifm-font-family-monospace:
    'Fantasque Sans Mono', 'Menlo', 'Monaco', 'Courier New', 'Consolas',
    monospace;
}

html {
  font-size: 105%;
}

/* Fix for medium-zoom image being covered by navbar */
.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 99999 !important;
}

/* Custom Code Block Styles */
:root {
  --ifm-code-font-size: 85%;
}

/* Force no italics in code blocks */
.token.italic,
.token.prolog,
.token.doctype,
.token.cdata {
  font-style: normal !important;
}
